APP_NAME=RAG Observatory

API_V1_PREFIX=/api/v1

DEBUG=True

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

DATABASE_URL=

REDIS_URL=redis://localhost:6379/0

CHROMA_HOST=chromadb
CHROMA_PORT=8000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_BACKEND_URL=redis://redis:6379/0

OLLAMA_EMBED_MODEL = nomic-embed-text
OLLAMA_BASE_URL = http://ollama:11434
OLLAMA_GENERATION_MODEL = llama3

GENERATION_MAX_TOKEN  = 512
GENERATION_TEMPERATURE = 0.1

CROSS_ENCODER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2

LOG_LEVEL=INFO
